page-contact {

    .cs-dflex
    {
        position: relative;
        padding-top: 0px !important;
        border-bottom: none !important;
        img
        {
            position: absolute;
            top: 20px;
        }
        .mail-link
        {
            white-space: pre-line;
            padding-left: 36px;
        }
    }

}
